.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--maxw);
  margin: 0 auto;
  padding: 24px 32px;
}

.brand {
  display: inline-flex;
}

.right {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 14.5px;
  color: var(--muted);
}
